{% extends 'base.html' %}
{% block content %}

<div class="container">
  <h2>Book List</h2>
  <a href="{% url 'create_book' %}" type="button" class="btn btn-primary" style="margin-left:87%;">Create</a>
  <table class="table">
    <thead>
      <tr>
        <th>Sr No</th>
        <th>Book Name</th>
        <th>Price</th>
        <th>Author</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for res in book_obj %}
      <tr>
        <td>{{res.id}}</td>
        <td>{{res.book_name}}</td>
        <td>{{res.price}}</td>
        <td>{{res.author}}</td>
        <td>
          <button class="btn btn-warning">Update</button>
          <button type="button" class="btn btn-danger">Delete</button>

        </td>
      </tr>
    {% endfor %}


    </tbody>
  </table>
</div>

{% endblock %}